:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 176 176 176;
  --oui-color-primary-light: 220 220 220;
  --oui-color-primary-darken: 132 132 132;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 200 200 200;
  --oui-color-link-light: 230 230 230;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 220 220 220;
  --oui-color-quaternary: 220 220 220;

  --oui-color-danger: 128 0 0;
  --oui-color-danger-light: 200 128 128;
  --oui-color-danger-darken: 64 0 0;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 128 0;
  --oui-color-success-light: 128 200 128;
  --oui-color-success-darken: 0 64 0;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 128 64 0;
  --oui-color-warning-light: 200 160 128;
  --oui-color-warning-darken: 64 32 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 40 40 40;
  --oui-color-fill-active: 50 50 50;

  --oui-color-base-1: 64 64 64;
  --oui-color-base-2: 56 56 56;
  --oui-color-base-3: 48 48 48;
  --oui-color-base-4: 40 40 40;
  --oui-color-base-5: 32 32 32;
  --oui-color-base-6: 24 24 24;
  --oui-color-base-7: 16 16 16;
  --oui-color-base-8: 8 8 8;
  --oui-color-base-9: 4 4 4;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 128 0 0;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 128 0;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 128 128 128;
  --oui-gradient-primary-end: 200 200 200;

  --oui-gradient-secondary-start: 100 100 100;
  --oui-gradient-secondary-end: 176 176 176;

  --oui-gradient-success-start: 0 64 0;
  --oui-gradient-success-end: 0 128 0;

  --oui-gradient-danger-start: 64 0 0;
  --oui-gradient-danger-end: 128 0 0;

  --oui-gradient-brand-start: 200 200 200;
  --oui-gradient-brand-end: 150 150 150;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 100 64 0;
  --oui-gradient-warning-end: 128 64 0;

  --oui-gradient-neutral-start: 20 20 20;
  --oui-gradient-neutral-end: 40 40 40;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}